.appheader {
  width: 100%;
  background-color: #434645;
  color: #fff;
  font-size: 20px;
}

.headerlogo {
  height: 50px;
  cursor: pointer;
}

.appheader .container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.appheader a {
  color: #fff;
  text-decoration: none;
}