.mdiskCp {
  position: relative;
  margin-top: 110px;
  color: black;
  background-color: #e5e5e5;
  width: 100%;
  position: relative;
  max-width: 480px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}