.newhome {
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #F5F5F7;
  color: #666;
}

/* .new-home-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.newhomeboxitem {
  width: 100%;
  word-wrap: break-word;
  cursor: pointer;
}

.newhomeboxitem:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  /* background-color: rgb(142, 184, 234); */
}

.image {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}